* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
   
}

.grid-container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(80px, 1fr);
}
/* ****** */
/* HEADER */
/* ****** */

header {
    display: flex;
    background-color: #7478ba;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    grid-area: header;
}

.header-wrapper {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;  
}

h1 {
    color: white;
    font-size: 30px;
}

header h3 {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px;
}

.bell-icn {
    width: 50px;
    height: 50px;
    justify-content: space-between;
    padding-right: 10px;
    border-right: 1px solid #5c63b9;
    /* missing transitions */
}

/* ****************** */
/* SIDEBAR NAVIGATION */
/* ****************** */

.sidebar {
    display: flex;
    background-color: #4c4d6f;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    grid-area: sidebar;
}

.icns-side{
    width: 35px;
    height: 35px;
    margin-top: 10px; 
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    color: #a9a9ba;
}

.sidebar a {
    padding-left: 10px;
    display: block;
}

.selected {
    border-left: 3px solid green;
    border-radius: 5%;
    color: white;
    
}

/* **** */
/* MAIN */
/* **** */

.main {
    grid-area: main;
}

.main-header {
    display:flex;
}

.headline {
    padding-right: 10px;
    padding-left: 10px;
    color: #939393;
    font-size: 26px;
    margin: 15px;
}

.header-search {
    display: flex;
    background-color: #fbfbfb;
    border: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    justify-content: flex-end;
    align-items: center;
}

input {
    padding: 5px;
    width: 40%;
    border: 1px solid #e5e5e5;
} 

.alert {
    display: flex;
    background-color: #6969ba;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

#x {
    float: right;
    margin-left: 300px;
   
}

/* ***************** */
/* Line graph charts */
/* ***************** */

.traffic {
    padding: 10px 0;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    color: #939393;
    font-size: 18px;
    margin: 15px  0 15px  15px;
    
}

.traffic-nav {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    color: #939393;
    font-size: 24px;
}

ul {
    display: inline;
    list-style-type: none;
}

.traffic-nav-link {
    padding: 5px 20px 5px 20px; 
    font-size: 20px;
    margin-right: 0;
    border-radius: 50px;
}

.traffic-nav-link.active {
    background-color: #52c681;
    color: white; 
    padding-top:5px;
    padding-bottom: 5px;
}

/* ****************** */
/* Daily graph charts */
/* ****************** */

.daily h3,
.mobile h3 {
    
    padding-right: 10px;
    padding-left: 10px;
    color: #939393;
    text-transform: uppercase;
} 

.graph-container {
    display: inline-flex;
}

section.daily,
section.mobile {
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* ************* */
/* SOCIAL STATUS */
/* ************* */

.social-container h3 {
    padding-right: 10px;
    padding-left: 10px;
    color: #939393;
    text-transform: uppercase;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #7478ba;
    margin: auto;

}


/* ************* */
/* MEDIA QUERIES */
/* ************* */

@media( min-width: 768px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "sidebar main";
    }
    .widget-container-full{
        width: 90vw;
    }

    .widget-container-half{
        width: 45vw;
    }
    .sidebar{
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
    }
    .header-search{
        width: 100%;
    }

    .alert{
        padding-left: 10px;
        margin-left: 25px;
    }
    
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
   
    .mobile, .activity, .settings {
        grid-column: 1 / span 2;
    }
}
@media( min-width: 1024px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "sidebar main";
    }
    

    
} 
